<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<header>
    <h1>Rodrigo Rocha - Profissional de dados</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projetos Pessoais Desenvolvidos</a>
        <a href="/about">Sobre</a>
    </nav>
</header>

<main>
    {{ content }}
</main>

<footer>
    <p>© {{ site.time | date: '%Y' }} Rodrigo Rocha</p>
</footer>

</body>
</html>